<footer class="footer">

    <!-- LOGO -->
    <div class="footer-logo">
        <img src="assets/images/logo.png" alt="Kilimani Hospital Logo">
    </div>

    <!-- CONTENT -->
    <div class="footer-container">

        <!-- CONTACT -->
        <div class="footer-col">
            <h3>Kilimani Hospital</h3>
            <p>Providing compassionate, high-quality healthcare services.</p>
            <p><strong>Phone:</strong> +254 700 000 000</p>
            <p><strong>Email:</strong> info@kilimanihospital.com</p>
            <p>Kisumu, Kenya</p>

            <div class="map-container">
            <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.8116809930457!2d34.75747977472318!3d-0.10452589989443534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182aa496dfca24c1%3A0x7188bf90752e5a0a!2sKilimani%20Hospital!5e0!3m2!1sen!2ske!4v1781771297984!5m2!1sen!2ske"
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            allowfullscreen>
        </iframe>
        </div>
        </div>

        <!-- QUICK LINKS -->
        <div class="footer-col">
            <h4>Quick Links</h4>
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="servicecharter.html">Service Charter</a>
            <a href="doctors.html">Doctors</a>
            <a href="services.html">Services</a>
            <a href="getintouch.html">Get in Touch</a>
            <a href="feedback.html">Feedback</a>
        </div>

        <!-- SERVICES -->
        <div class="footer-col">
            <h4>Our Services</h4>
            <a href="#">General Consultation</a>
            <a href="#">Maternity</a>
            <a href="#">Emergency</a>
            <a href="#">Laboratory</a>
            <a href="#">Pharmacy</a>
        </div>

        <!-- SOCIALS -->
        <div class="footer-col">
            <h4>Follow Us</h4>

            <div class="social-icons">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-twitter-x"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>

        </div>

    </div>

    <!-- COPYRIGHT -->
    <div class="footer-bottom">
        <p>© 2026 Kilimani Hospital. All Rights Reserved.</p>
    </div>

</footer>