<header class="navbar" id="navbar">

    <div class="nav-container">

        <!-- LEFT LINKS -->
        <nav class="nav-left">
          <a href="../index.html">Home</a>
          <a href="../about.html">About</a>
          <a href="../services.html">Services</a>
          <a href="../doctors.html">Doctors</a>
          <a href="../contact.html">Contact</a>
        </nav>
  
        <!-- CENTER LOGO IMAGE -->
        <div class="nav-logo">
            <a href="../index.html"></a>
            <img src="../assets/images/logokilimani.png" alt="Kilimani Hospital Logo">
            </a>
        </div>

        <!-- RIGHT CTA -->
        <div class="nav-right">
            <a href="appointment.html" class="nav-btn">
                Book Appointment
            </a>

            <!-- MOBILE HAMBURGER -->
            <div class="hamburger" id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

    </div>

    <!-- MOBILE MENU -->
    <div class="mobile-menu" id="mobileMenu">
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="services.html">Services</a>
        <a href="doctors.html">Doctors</a>
        <a href="contact.html">Contact</a>
        <a href="appointment.html">Book Appointment</a>
    </div>

</header>